# Build artifacts
skiplist
run_tests
run_bench
run_comp_bench
*.o
*.json
*.dSYM/
compile_commands.json

# Third party dependencies (auto-downloaded)
third_party/googletest/
third_party/benchmark/

# IDE
.vscode/
.idea/
.zed/

# Clangd
.cache/

# Logs
# logs/

# Claude
.claude/settings.local.json

# Perf
*perf.data
*perf.data.old
logs/
